/* HERO ----------- */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
  font-family: "Rethink Sans", sans-serif;

}

.news-app-header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.news-app-header-logo {
  /* left: 20px; */
  display: flex;
  align-items: center;
}

.news-app-header-logo img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.news-app-header-app-name {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0px;
}

button.menu-toggle-button {
  margin-top: -15px;
  background: blueviolet;
}

.news-card {
  border: 1px solid #fff3f3;
  border-radius: 30px;
  overflow: hidden;
  padding: 12px;
  min-height: 220px;
  position: relative;
  margin-bottom: 10px;
  width: 95%;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.news-card-img-banner {
  max-width: 290px;
  border-radius: 25px;
  overflow: hidden;
  height: 100%;
}

.news-card h3 {
  font-size: 18px;
  margin: 10px;
  color: #333;
}

.news-card p {
  font-size: 14px;
  margin: 10px;
  color: #555;
}

.news-navigate-btn button {
  display: block;
  color: white;
  text-decoration: none;
  background: #8a2be2;
  padding: 7px 26px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 33px;
  font-size: 14px;
  border: none;
}

.news-navigate-btn {
  margin-bottom: -3px !important;
  margin-top: 10px;
  margin-right: -14px;
}

.news-card a:hover {
  text-decoration: underline;
}

.side-menu-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding-top: 80px;
}

button.menu-toggle-button svg {
  font-size: 25px;
}

button.menu-toggle-button {
  border-radius: 12px;
}

.side-menu-nav.open {
  transform: translateX(0);

}

.side-menu-nav button {
  padding: 8px 6px;
  /* border: 1px solid; */
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

span.category-icon {
  background: #8a2be2;
  width: 26px;
  height: 26px;
  display: flex;
  margin-right: 11px;
  border-radius: 6px;
  color: white;
  justify-content: center;
  align-items: center;
}

.menu-toggle-button {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 1100;
  padding: 5px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

.side-menu-nav button {
  background: none;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: left;
  cursor: pointer;
}

.news-card-info {
  margin-left: 10px;
  font-size: 14px;
  color: dimgray;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 24px;
  font-size: 12px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

span.news-published-date {
  font-weight: 700;
  margin-left: 5px;
}

span.news-author {
  font-weight: 700;
}

.side-menu-nav button:hover {
  background-color: #555;
}

.news-list-main-content-cov {
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}

.news-share-options button {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 5px;
  font-size: 13px;
  border: none;
  margin-right: 5px;
  background: #8a2be2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-content-cover-wrapper {
  position: relative;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
}

.news-card-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.news-share-options button svg {
  font-size: 14px;
}

.news-share-options {
  display: flex;
}

/* Popup container */
.news-popup {
  position: fixed;
  top: 0;
  right: -100%;
  /* Initially off-screen */
  width: 400px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  overflow-y: auto;
  animation: slideIn 0.5s forwards;
}

/* Slide-in animation */
@keyframes slideIn {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

/* Popup content styles */
.news-popup-content {
  display: flex;
  flex-direction: column;
}

.news-popup-img img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup-close-button {
  align-self: flex-end;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  background: transparent;
}

button.popup-close-button svg {
  font-size: 28px;
  background: #e13e63;
  border-radius: 50%;
  color: white;
  margin-right: -15px;
  margin-top: -18px;
}

img.content-not-avail-banner {
  width: 50%;
  margin: 0 auto;
}

.news-popup-content img {
  max-height: 200px;
}

.news-popup-content h6 {
  text-align: center;
}

.news-popup-content .news-card-img-banner {
  margin-top: 20px;
  max-width: 390px;
  margin-bottom: 15px;
}

.news-popup-content h2 {
  font-size: 22px;
  font-weight: 700;
}

.news-card-info.pop-card-info {
  margin-left: 0px;
  margin-bottom: 10px;
}

.news-popup-content p {
  font-size: 14px;
  color: dimgray;
}

.news-popup-content a {
  background: blueviolet;
  color: white;
  border-radius: 25px;
  padding: 6px 16px;
  width: fit-content;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.news-popup-content a span {
  background: #333333;
  width: 25px;
  height: 25px;
  display: flex;
  border-radius: 50%;
  margin-left: -9px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
.loader-main-cover-wrapper {
  margin: auto;
  display: flex;
  margin-top: 180px;
  justify-content: center;
}
@keyframes l3 {to{transform: rotate(1turn)}}

/* RESPONSIVE STARTS ---------------------- */

/* Tablet Layout ----------------- */

@media (max-width: 768px) {
  .news-list-main-content-cov {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .news-card {
    width: 320px;
  }

  .news-popup-content img {
    max-height: 200px;
    width: 100%;
  }

  img.content-not-avail-banner {
    width: 50%;
  }
}

@media (max-width : 350px) {
  .news-popup {
    width: 100%;
  }
}

